@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Dosis", sans-serif;
	max-width: 1440px;
	margin: 0px auto;
	background-color: #fff;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
